{% extends "homebase.html" %}
{% load static %}
{% block content %}
<div class="section">
    <div class="container">
      <div class="row mt-3">
        <div class="col-md-5 mx-auto">
            <form class="d-flex mr-2" action="{% url 'books' %}" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <input class="form-control border rounded-pill" placeholder="Search" aria-label="Search" name="query" id="query" type="search">
                </div>
            </form>
        </div>
      </div>
    </div>
    <div class="table-responsive container mt-3 bg-light p-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                  <th scope="col">Publisher</th>
                  <th scope="col">Writer</th>
                  <th scope="col">Name</th>
                  <th scope="col">ISBN</th>
                  <th scope="col">Page Count</th>
                  <th scope="col">Count</th>
                  <th scope="col">Subject</th>
                  <th scope="col">Description</th>
                  <th scope="col">Publisher Date</th>
                  <th class="d-flex justify-content-center" scope="col">
                    {% if perms.books.can_add_book %}
                       <a class="add-book rounded-pill" type="button" name="button">Add</a>
                    {% endif %}
                </th>
              </tr>
            </thead>
            <tbody>
              {% for book in books %}
              <tr >
                  <td><span class="badge rounded-pill bg-success">{{ book.publisher.name }}</span></td>
                  <td><span class="badge rounded-pill bg-danger">{{ book.writer.name }} {{ book.writer.surname }}</span></td>
                  <td><span class="badge rounded-pill bg-secondary">{{ book.name }}</span></td>
                  <td>{{ book.isbn }}</td>
                  <td>{{ book.page_count }}</td>
                  <td>{{ book.count }}</td>
                  <td>{{ book.subject }}</td>
                  <td>{{ book.description | safe | slice:":255" }}</td>
                  <td>{{book.publisher_date|date:'d-m-Y'}}</td>
                  <td class="d-flex justify-content-center">
                      <div class="p-2">
                            {% if perms.books.can_edit_book %}
                                <a id="edit-book" class="edit-book rounded-pill" data-id="{% url 'edit_book' book.id %}" type="button" name="button"><i class="fas fa-edit"></i></a>
                            {% endif %}
                            {% if perms.books.can_delete_book %}
                                <a href="{% url 'delete_book' book.id %}"><i class="fa fa-trash"></i></a>
                            {% endif %}
                        </div>
                  </td>
              </tr>
              {% endfor %}
            </tbody>
        </table>

        {% if books.has_other_pages %}
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-sm">
                {% if books.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{ books.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="page-item disabled"><span class="page-link" >&laquo;</span></li>
                {% endif %}
                {% for i in books.paginator.page_range %}
                  {% if books.number == i %}
                    <li class="page-item active"><span class="page-link" >{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if books.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ books.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="page-item disabled"><span class="page-link" >&raquo;</span></li>
                {% endif %}
          </ul>
        </nav>
        {% endif %}
    </div>
</div>
<div class="modal fade " role="dialog" id="modal">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $(".add-book").modalForm({
            formURL: "{% url 'add_book' %}"
        });
        $(".edit-book").modalForm({
            formURL:document.getElementById('edit-book').getAttribute('data-id')
        });
    });
</script>
{% endblock %}

