{% extends "homebase.html" %}
{% load static %}
{% block content %}

<form method="post" action="{% url 'delete_book' book.id %}" class="delete-book-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Confirm book deletion</h4>
  </div>
  <div class="modal-body">
    <p class="lead">Are you sure you want to delete the book <strong>{{ book.name }}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary close-modal" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-danger">Delete book</button>
  </div>
</form>

{% endblock %}
