{% extends "homebase.html" %}
{% block content %}

<div class="container mt-5 bg-light p-4">
    {% if perms.writer.can_add_writer %}
        <div class="card text-dark bg-light bg-gradient mb-4">
            <div class="card-header">
                <h6>Add Writer</h6>
                <a class="position-absolute end-0 top-0 mt-2 ml-5" href="{% url 'writers' %}"><i class=" text-secondary fas fa-circle-xmark fa-lg"></i></a>
            </div>
            <div class="card-body">
                <form novalidate method="POST" enctype="multipart/form-data" action=" {% if not form.publisher.value %} {% url 'add_writer' %} {% endif %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col col-4">
                        {{ form.publisher }}
                        <span class="form-text">{{ form.publisher.help_text|safe }}</span><br/>
                        {% for error in form.publisher.errors %}
                            <span class="text-danger ml-2">{{ error|safe }}</span><br>
                        {% endfor %}
                    </div>
                    <div class="col col-4">
                        <input type="text" class="form-control" value="{% if form.name.value%} {{form.name.value}} {% endif %}" name="name" \
                               placeholder="Please Name" maxlength="40">
                        <span class="form-text">{{ form.name.help_text|safe }}</span><br/>
                        {% for error in form.name.errors %}
                            <span class="text-danger ml-2">{{ error|safe }}</span><br>
                        {% endfor %}
                    </div>
                    <div class="col col-4">
                        <input type="text" class="form-control" name="surname" value="{% if form.surname.value%} {{form.surname.value}} {% endif %}" \
                               placeholder="Please Surname" maxlength="40">
                        <span class="form-text">{{ form.surname.help_text|safe }}</span><br/>
                        {% for error in form.surname.errors %}
                            <span class="text-danger ml-2">{{ error|safe }}</span><br>
                        {% endfor %}                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col col-4">
                        <input type="number" class="form-control" name="age" value="{{form.age.value}}" placeholder="Please Age">
                        <span class="form-text">{{ form.age.help_text|safe }}</span>
                        {% for error in form.errors %}
                            <span class="text-danger ml-2">{{ error|safe }}</span><br>
                        {% endfor %}
                    </div>
                    <div class="col col-4">
                        {{form.categories}}
                        <span class="form-text">{{ form.categories.help_text|safe }}</span><br/>
                        {% for error in form.categories.errors %}
                            <span class="text-danger ml-2">{{ error|safe }}</span><br>
                        {% endfor %}
                    </div>
                    <div class="col col-4">
                        <button class="btn btn-outline-success btn-block" type="submit">Save</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    {% endif%}

    {% if perms.writer.can_view_writer_list %}
        <div class="card">
            <div class="card-header"><h6>Writer List</h6></div>
            <div class="card-body">
                <table class="table table-bordered table-responsive">
                <thead>
              <tr>
                <th>Publisher</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Age</th>
                <th>Categories</th>
              </tr>
            </thead>
                <tbody>
                {% for writer in writers %}
                    <tr>
                        <td><span class="badge rounded-pill bg-danger">{{ writer.publisher.name }}</span></td>
                        <td>{{ writer.name }}</td>
                        <td>{{ writer.surname}}</td>
                        <td>{{ writer.age}}</td>
                        <td>{{ writer.categories}}</td>
                        <td>
                            {% if perms.writer.can_edit_writer %}
                                <a href="{% url 'edit_writer' writer.id %}"><i class="fa fa-edit"></i></a>
                            {% endif %}
                            {% if perms.writer.can_delete_writer %}
                                <a href="{% url 'delete_writer' writer.id %}"><i class="fa fa-trash "></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
                {% if writers.has_other_pages %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination pagination-sm">
                            {% if writers.has_previous %}
                              <li class="page-item"><a class="page-link" href="?page={{ writers.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                              <li class="page-item disabled"><span class="page-link" >&laquo;</span></li>
                            {% endif %}
                            {% for i in writers.paginator.page_range %}
                              {% if writers.number == i %}
                                <li class="page-item active"><span class="page-link" >{{ i }} <span class="sr-only">(current)</span></span></li>
                              {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                              {% endif %}
                            {% endfor %}
                            {% if writers.has_next %}
                              <li class="page-item"><a class="page-link" href="?page={{ writers.next_page_number }}">&raquo;</a></li>
                            {% else %}
                              <li class="page-item disabled"><span class="page-link" >&raquo;</span></li>
                            {% endif %}
                      </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
